p {
    color: black;
    font-size: 21px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: lightcoral;
    font-size: 35px;
    text-align: center;
}

h3 {
    color: lightcoral;
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
}

#title {
    color: black;
    margin-top: 0%;
    font-size: 22px;

  
}

#selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    border-radius: 50%; 
    margin-top: 10px;
    height: auto; 
    width: 18%;
    border: 3.5px solid rgb(0, 0, 0);
}

/* New Project Grid Styles */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F6EE;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.637);
    text-align: center;
}

.project-card h4 {
    margin: 0 0 10px;
    font-size: 30px;
    color: black
}

.project-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.project-image:hover {
    transform: scale(1.05);
}

.project-description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}