p {
    color: black;
    font-size: 21px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: lightcoral;
    font-size: 35px;
    text-align: center;
}

h3 {
    color: lightcoral;
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
}

#title {
    color: black;
    margin-top: 0%;
    font-size: 22px;

  
}

#selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    border-radius: 50%; 
    margin-top: 10px;
    height: auto; 
    width: 18%;
    border: 3.5px solid rgb(0, 0, 0);
}