*::before {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

#navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

#navbar-menu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

#navbar-menu a:hover {
    color: white;
    /* border: 2px solid white; */
}

#navbar-menu li {
    list-style: none;
}

#nav-toggler div {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: black;
}

#nav-toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    #nav-toggler {
        display: block;
    }
    #navbar-menu {
        position: fixed;
        top: 9vh;
        right: 0;
        width: 20%;
        height: 20vh;
        background: white;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    #navbar-menu.nav-active {
        transform: translateX(0);
    }
}
