---
const siteName = "About Me 🇲🇽";

import '../styles/global.css';
import '../styles/about.css';
import resume from '../images/Resume.pdf';
import MainLayout from '../layouts/mainLayout.astro';

---

<MainLayout {siteName}>

    <p>
        <a href=" https://www.linkedin.com/in/roberto-garcia-a63149230/" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" width="35" height="35" />
            LinkedIn
        </a>
    </p>

    <p>
        <a href="https://github.com/robertogarcia11" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="35" height="35" />
            GitHub
        </a>
    </p>

    <p>
        <a href={resume} target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="Resume" width="35" height="35" />
            View Resume
        </a>
    </p>

</MainLayout>