---
const siteName = "Beto's E-Garder 🌼";

import '../styles/global.css';
import '../styles/index.css';
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout {siteName}>

	<h1>{siteName}</h1>

</MainLayout>