---
const siteName = "Beto's E-GardeN 🌼";

import '../styles/global.css';
import '../styles/index.css';
import selfie from '../images/prof-pic.png';
import MainLayout from '../layouts/mainLayout.astro';
---
<MainLayout {siteName}>
	
	<p>Hello, I'm</p>
	<h2>Roberto Garcia</h2>
	<p>Full-Stack Developer</p>
	<img id = 'selfie' src={selfie.src} alt="selfie"/>

</MainLayout>