---
const siteName = "My Portfolio 💼";

import '../styles/global.css';
import '../styles/portfolio.css';
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout {siteName}>

	<h1>Welcome to {siteName}</h1>

</MainLayout>