---
const siteName = "My Portfolio 💼";

import '../styles/global.css';
import '../styles/portfolio.css';
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout {siteName}>

	<h1>Welcome to {siteName}</h1>
	<ul>
		<li><a href="../pages/project-1">Project 1</a></li>
		<li><a href="src/pages/projects/project-2.md">Project 2</a></li>
	</ul>

</MainLayout>